.login {
    background-color: #36517e;
    height: 270px;
    position:relative;
}

.first-title {
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.second-title {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 20;
    
}

.hero-btn {
    display: flex;
    justify-content: center;
    
}

.btn {
    background-color: darkorange;
    color: white;
    padding: 1rem 2rem;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 25px;
    
}

.btn:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    color:#36517e;
}

.footer-last {
    background-color: #3f3f3f;
    height: 70px;
    margin-top: 40px;
    
}

.title-last {
    color: #ffffffae;
    text-align: center;
    padding-top: 27px;
    font-size: 15px;
    font-weight: 10;
}